*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size: 16px;
}

.header{
    height: 10vh;
    padding: 25px;
    padding-left: 44%;
    border-bottom: 1px solid black;
    
}

.siteName{
    float: left;
}

.pSiteName{
    font-size: 22px;
}

.navigation{
    float: left;
    padding-left: 45%;
}

.main{
    padding: 20px;
    padding-left: 15%;
    padding-right: 15%;
}