<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
</head>
<body>
    <div class="header">
        <div class="siteName">
            <p class="pSiteName">Статьи</p>
        </div>
        <div class="navigation">
            <a href="/">Главная</a>
            <a href="/create">Создать</a>
        </div>
    </div>
    <div class="main">
        <form action="/create" method="post">
            <p>Создать статью:</p><br>
            <p>Название:<br><input type="text" name="title" value=""></p><br>
            <p>Автор:<br><input type="text" name="author" value=""></p><br>
            <p>Содержание:<br><textarea name="content"></textarea></p><br>
            <input type="submit" value="Создать">
        </form>
    </div>
</body>
</html>